<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Sample Web Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
            <h1>Welcome to Sample Web Application!!!!</h1>
            <form method="post" action="savedetails">
                Customer ID:
                <input type="number" name="custid"><br><br>
                Customer Name:
                <input type="text" name="custname"><br><br>
                Customer Email:
                <input type="text" name="custemail"><br><br>
                
                <input type="submit" value="submit"><br>
            </form>
                <br><br>
                <h1><a href="showdetails">Click Here to view customer details</a></h1><br><br>
    </body>
</html>
